body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000;

  background-color: #fff;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.header {
  background-color: #f3f7f8;
  font-family: "Cuprum";
}

.top-menu {
  background-color: #293449;
  color: #fff;
}

.btn-green {
  background-color: #63a63e;
}

.btn-green:hover {
  background-color: #5fbb2d;
}

.btn-green:active {
  background-color: #518534;
}

.header-logo {
  background-color: #ee3643;
}

.header-logo:hover {
  background-color: #ca2c37;
}

.header-logo:active {
  background-color: #ba2732;
}

.top-menu input,
.top-menu a {
  font-size: 17px;
  line-height: 18px;
  color: #fff;
}

.search-field ::placeholder {
  color: #fff;
}

.search-field input:focus {
  color: #000;
  background-color: #fff;
}

.site-navigation {
  background-color: #32425c;
}

.site-navigation a {
  font-size: 17px;
  line-height: 17px;
  font-weight: 400;
  text-transform: capitalize;
  color: #fff;
  padding-left: 31px;
  padding-right: 31px;

}

.site-navigation a:hover {
  background-color: #293449;
}

.site-navigation a:active {
  color: #8e939c;
  background-color: #1d2739;
}

.tagline {
  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
  font-style: italic;
  color: #ee3643
}

.bottom-menu .phone {
  font-size: 21px;
  line-height: 21px;
  text-transform: uppercase;
  color: #ee3643;
}

.bottom-menu .address {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #32425c;
}

.about {
  font-family: "Cuprum";
  font-weight: 400;
}

.about h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.about-company li {
  font-size: 18px;
  line-height: 20px;
}

/* Стили для кнопок  */

.btn {
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  border-radius: 3px;
}

.btn-sm {
  height: 38px;
  line-height: 38px;
  width: 135px;
}

.top-menu-btn {
  height: 42px;
  width: 150px;
  line-height: 42px;
  border-radius: 0;
  text-transform: none;
}

.top-menu-btn:hover {
  background-color: #212a3a;
}

.top-menu-btn:active {
  color: #babbbd;
  background-color: #161d29;
}

.user-btn {
  font-size: 21px;
  color: #000;
  background-color: #fff;
  height: 45px;
  line-height: 45px;
  text-transform: none;
}

.btn-login {
  width: 121px;
}

.btn-register {
  width: 150px;
}

.user-btn:hover {
  color: #ee3643;
}

.user-btn:active {
  color: #b2b2b2;
}

.red-btn {
  font-size: 14px;
  line-height: 38px;
  color: #fff;
  background-color: #ee3643;
  height: 38px;
}

.slider .red-btn {
  width: 195px;
}

.main-content .red-btn:hover {
  background-color: #ca2c37;
}

.main-content .red-btn:hover:active {
  background-color: #ba2732;
}

.promo-btn {
  background-color: #000;
  opacity: 0.1;
}

.promo-btn:hover {
  opacity: 0.2;
}

.promo-btn:active {
  opacity: 0.3;
}

.popular-header .red-btn,
.manufacture-header .red-btn {
   width: 253px;
}

.about-company .red-btn {
  width: 220px;
}

.contact-map .red-btn {
  width: 300px;
}

.footer {
  background-color: #32425c;
  font-family: "Cuprum";
  color: #fff;
}

.footer-logo {
  background-color: #ee3643;
}

.footer-middle a,
.footer-top a {
  font-size: 18px;
  line-height: 24px;
  text-transform: capitalize;
  color: #f1f5f7;
}

.footer-middle a,
.footer-contacts a {
  color: #ffda96;
}

.footer-middle a:hover,
.footer-contacts a:hover {
  text-decoration: underline;
}

.footer-middle a:active,
.footer-contacts a:active {
  color: #ee3643;
  text-decoration: none;
}

.footer-top a:hover,
.footer-middle a:hover {
  text-decoration: underline;
}

.footer-top a:active,
.footer-middle a:active {
  opacity: 0.5;
}

.footer-middle p {
  font-size: 18px;
  line-height: 24px;
  color: #f1f5f7;
}

.footer-bottom {
  background-color: #293449;
}

.footer-bottom p {
  font-size: 16px;
  line-height: 18px;
}

.footer ul {
  list-style: none;
}

.social-icons a {
  background-color: #212a3a;
}

.breadcrumbs a {
  font-size: 13px;
  line-height: 18px;
  color: #000;
  text-transform: uppercase;
}

.catalog-title {
  padding: 32px 30px;
  background-color: #f2f6f8;
}

.catalog-title h1 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #32425c;
  text-transform: uppercase;
  margin: 0;
}

.filter-btn {
  font-size: 13px;
  line-height: 38px;
  height: 38px;
  width: 140px;
  color: #000;
  background-color: #fff;
  border: 1px solid #e5e5e5;
}

.catalog-item {
  max-width: 220px;
  border: 1px solid #e5e5e5;
  text-align: center;
}

.catalog-item-title {
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #000;
}

.buy-btn {
  background-color: #63a63e;
}

.buy-btn:hover {
  background-color: #5fbb2d;
}

.buy-btn:active {
  background-color: #518534;
}

.save-btn {
  color: #32425c;
  background-color: #fff;
  border: 3px solid #63a63e;
}

.save-btn:hover {
  border: 3px solid #32425c;
}

.save-btn:active {
  border: 3px solid #32425c;
  opacity: 0.3;
}


.prices {
  font-size: 17px;
  line-height: 18px;
}

.old-price {
  color: #999999;
  text-decoration: line-through;
  
}

div.price {
  width: 141px;
  height: 38px;
  margin: 0 auto;
  line-height: 38px;
  color: #fff;
  background: url("../img/price-bg.png") no-repeat 0 0;
}

.filter-header,
.sort-header {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000;
}

.filter,
.sort {
  text-transform: uppercase;
}

.filter legend {
  font-size: 17px;
  font-weight: 700;
}

.filter label {
  font-size: 15px;
  line-height: 20px;
  color: #000;
}

.sort a {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: #ee3643;
}

.sort a:hover {
  color: rgba(0, 0, 0, 1);
}

.sort a:active {
  color: #ee3643;
  text-decoration: none;
}

