body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000;

  background-color: #fff;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.header {
  background-color: #f3f7f8;
  font-family: "Cuprum";
}

.top-menu {
  background-color: #293449;
  color: #fff;
}

.top-menu .btn-green {
  background-color: #63a63e;
}

.top-menu .btn-green:hover {
  background-color: #5fbb2d;
}

.top-menu .btn-green:active {
  background-color: #518534;
}

.header-logo {
  background-color: #ee3643;
}

.header-logo:hover {
  background-color: #ca2c37;
}

.header-logo:active {
  background-color: #ba2732;
}

.top-menu input,
.top-menu a {
  font-size: 17px;
  line-height: 18px;
  color: #fff;
}

.search-field ::placeholder {
  color: #fff;
}

.search-field input:focus {
  color: #000;
  background-color: #fff;
}

.site-navigation {
  background-color: #32425c;
}

.site-navigation a {
  font-size: 17px;
  line-height: 17px;
  font-weight: 400;
  text-transform: capitalize;
  color: #fff;
}

.site-navigation a:hover {
  background-color: #293449;
}

.site-navigation a:active {
  color: #8e939c;
  background-color: #1d2739;
}
.bottom-menu .tagline {
  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
  font-style: italic;
  color: #ee3643
}

.bottom-menu .phone {
  font-size: 21px;
  line-height: 21px;
  text-transform: uppercase;
  color: #ee3643;
}

.bottom-menu .address {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #32425c;
}

.about {
  font-family: "Cuprum";
  font-weight: 400;
}

.about h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.about-company li {
  font-size: 18px;
  line-height: 20px;
}

/* Стили для кнопок  */

.btn {
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  border-radius: 3px;
}

.btn-sm {
  height: 38px;
  line-height: 38px;
  width: 135px;
}

.top-menu-buttons .top-menu-btn {
  height: 42px;
  width: 150px;
  line-height: 42px;
  border-radius: 0;
  text-transform: none;
}

.top-menu-buttons .top-menu-btn:hover {
  background-color: #212a3a;
}

.top-menu-buttons .top-menu-btn:active {
  color: #babbbd;
  background-color: #161d29;
}

.user-btn {
  font-size: 21px;
  color: #000;
  background-color: #fff;
  height: 45px;
  line-height: 45px;
  text-transform: none;
}

.user-login .btn-login {
  width: 121px;
}

.user-login .btn-register {
  width: 150px;
}

.user-login .user-btn:hover {
  color: #ee3643;
}

.user-login .user-btn:active {
  color: #b2b2b2;
}

.red-btn {
  font-size: 14px;
  line-height: 38px;
  color: #fff;
  background-color: #ee3643;
  height: 38px;
}

.slider .red-btn {
  width: 195px;
}

.main-content .red-btn:hover {
  background-color: #ca2c37;
}

.main-content .red-btn:hover:active {
  background-color: #ba2732;
}

.promo-block .promo-btn {
  background-color: #000;
  opacity: 0.1;
}

.promo-block .promo-btn:hover {
  opacity: 0.2;
}

.promo-block .promo-btn:active {
  opacity: 0.3;
}

.popular-header .red-btn,
.manufacture-header .red-btn {
   width: 253px;
}

.about-company .red-btn {
  width: 220px;
}

.contact-map .red-btn {
  width: 300px;
}

.footer {
  background-color: #32425c;
  font-family: "Cuprum";
  color: #fff;
}

.footer-logo {
  background-color: #ee3643;
}

.footer-middle a,
.footer-top a {
  font-size: 18px;
  line-height: 24px;
  text-transform: capitalize;
  color: #f1f5f7;
}

.footer-middle a,
.footer-contacts a {
  color: #ffda96;
}

.footer-middle a:hover,
.footer-contacts a:hover {
  text-decoration: underline;
}

.footer-middle a:active,
.footer-contacts a:active {
  color: #ee3643;
  text-decoration: none;
}

.footer-top a:hover,
.footer-middle a:hover {
  text-decoration: underline;
}

.footer-top a:active,
.footer-middle a:active {
  opacity: 0.5;
}

.footer-middle p {
  font-size: 18px;
  line-height: 24px;
  color: #f1f5f7;
}

.footer-bottom {
  background-color: #293449;
}

.footer-bottom p {
  font-size: 16px;
  line-height: 18px;
}

.footer ul {
  list-style: none;
}

.social-icons a {
  background-color: #212a3a;
}
